<ul class="user_info">
	<li class="user_info_item">
		<p>Total<span class="task_total"><%= @user.tasks.count %></span></p>
	</li>
	<li class="user_info_item">
		<p>Remaining<span class="task_remaining"><%= @user.tasks.where(done: false).count %></span></p>
	</li>
	<li class="user_info_item">
		<p>Done<span class="task_done"><%= @user.tasks.where(done: true).count %></span></p>
	</li>
	<li class="user_info_item">
		<p>Like:<span class="user_iine">
			<% sum = 0 %>
			<% @user.tasks.each do |task| %>
				<% sum = sum + task.likes_count %>
			<% end %>
			<%= sum %>
		</span></p>
	</li>
</ul>